body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    background-image: url(../img/sport-image.jpg);
    align-items: center;
    margin: 0;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    margin-top: 50px;

}
#info-screen{
    background-color: #e7e7e7;
    color: blue;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding: 10px;
    background-color: #ffffff;
    border-top: 1px solid #e7e7e7;
}

.icon {
    cursor: pointer;
    font-size: 16px;
    padding: 10px;

}
.hidden {
    display:none;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

.icon:hover {
    color: #007bff;
}

#stopwatchDisplay, #timerDisplay {
    font-size: 2em;
    margin: 10px 0;
    text-align: center;
}
