body {
    background-color: #f7f9fc;
    background-image: url("../img/sport-image.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

/* Шапка */
.header {

    background-color: #007bff;
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

/* Карточка */
.card-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Кнопки */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-weight: bold;
}

.btn-outline-secondary {
    font-size: 14px;
}

/* Футер */
.footer {
    background-color: #007bff;
    padding: 10px;
    color: white;
}

/* Информационный блок */
#info-screen {
    display: none;
    margin-top: 20px;
}

/* Модальные окна */
.modal-content {
    border-radius: 8px;
    padding: 20px;
}
.hidden{
    display: none;
}

/* Стиль для модального окна infoScreenModal */
#infoScreenModal .modal-content {
    border: 2px solid #0d6efd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f8f9fa;
}

#infoScreenModal .modal-title {
    color: #0d6efd;
}

#infoScreenModal .modal-body p {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 15px;
}

#infoScreenModal .btn {
    width: 100%;
}
