<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тренерский интерфейс</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/couch.css">
</head>
<body>
<div class="container">
    <div id="my-container">
        <h1 class="text-center my-5">Меню тренера</h1>
        <div class="d-flex justify-content-center mb-5">
            <div class="btn-group-vertical">
                <button class="btn btn-primary mb-3" id="addTraining" data-bs-toggle="modal" data-bs-target="#trainingModal">Добавить тренировку</button>
                <button class="btn btn-primary mb-3" id="addInventory" data-bs-toggle="modal" data-bs-target="#inventoryModal">Добавить инвентарь</button>
                <button class="btn btn-primary mb-3" id="addExercises">Добавить упражнения</button>
                <button class="btn btn-primary mb-3" id="MyTrainings" data-bs-toggle="modal" data-bs-target="#scheduleForCouch">Мой тренировки</button>
            </div>
        </div>
    </div>
    <div id="info-screen" class="hidden">
        <h1>Информация</h1>
        <p id="trainer-info">Осталось тренировоки тренера: <span>0</span></p>
        <p id="profile-info">Ваши данные: <span></span></p>
        <p id="equipment-info">Общее количество инвентаря: <span>0</span></p>
        <button class="btn btn-primary mt-3" id="refresh-data">Обновить данные</button>
        <button type="submit" class="btn btn-primary mt-3" id="exit" onclick="exit()">Выход</button>
        <button class="btn btn-primary mt-3" id="back-to-main-info">Назад</button>
    </div>

    <div class="footer d-flex justify-content-around">
        <button class="icon btn" id="stopwatchTimer" data-bs-toggle="modal" data-bs-target="#stopwatchTimerModal">⏱⏲ Секундомер и Таймер</button>
        <button class="icon btn" id="statistics">📊 Общая статистика</button>
    </div>
</div>

<!-- Modal for Training -->
<div class="modal fade" id="trainingModal" tabindex="-1" aria-labelledby="trainingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trainingModalLabel">Добавить тренировку</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="false"></button>
            </div>
            <div class="modal-body">
                <form id="profile-training">
                    <div class="mb-3">
                        <label for="sportSections">Выберите спортсекцию:</label>
                        <select id="sportSections" class="form-select"></select>
                    </div>
                    <div class="mb-3">
                        <label for="place" class="form-label">Место проведения:</label>
                        <input type="text" id="place" name="place" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Комментарий:</label>
                        <input type="text" id="description" name="description" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="sum" class="form-label">Цена:</label>
                        <input type="number" id="sum" name="sum" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="training_type">Выберите тип тренировки:</label>
                        <select id="training_type" class="form-select">
                            <option id="oneTraining" value="individual">Индивидуальные</option>
                            <option id="allTraining" value="general">Общие</option>
                        </select>
                    </div>


                    <!-- Блок с выбором дней недели -->
                    <div class="mb-3" id="addDaysForGeneral">
                        <label for="daysOfWeek" class="form-label">Выберите дни недели:</label>
                        <div id="daysOfWeek" class="d-flex flex-wrap">
                            <button type="button" class="day-button btn btn-outline-primary" data-day="1">Понедельник
                            </button>
                            <button type="button" class="day-button btn btn-outline-primary" data-day="2">Вторник
                            </button>
                            <button type="button" class="day-button btn btn-outline-primary" data-day="3">Среда
                            </button>
                            <button type="button" class="day-button btn btn-outline-primary" data-day="4">Четверг
                            </button>
                            <button type="button" class="day-button btn btn-outline-primary" data-day="5">Пятница
                            </button>
                            <button type="button" class="day-button btn btn-outline-primary" data-day="6">Суббота
                            </button>
                            <button type="button" class="day-button btn btn-outline-primary" data-day="0">Воскресенье
                            </button>
                        </div>

                        <!-- Блок для выбора общего временного интервала -->
                        <div class="mb-3">
                            <label for="intervalDate" class="form-label">Выберите общий временной интервал (от - до):</label>
                            <div id="intervalDate" class="d-flex flex-wrap">
                                <input type="date" id="startDate" name="startDate" class="form-control" placeholder="От">
                                <input type="date" id="endDate" name="endDate" class="form-control" placeholder="До">
                            </div>
                        </div>

                        <!-- Блок для добавления времени -->
                        <div class="mb-3">
                            <label class="form-label">Добавьте время для выбранных дней:</label>
                            <div id="allTimes">
                                <!-- Здесь будет динамически добавляться время -->
                            </div>
                            <input type="button" id="nextTimes" value="Добавить время" class="btn btn-outline-secondary">
                        </div>
                    </div>

                    <div class="mb-3" id="addDaysForIndividual">
                        <div id="allTime">
                            <label for="date" class="form-label">Дата:</label>
                            <input type="datetime-local" id="date" name="date" class="form-control" required>
                        </div>
                        <input type="button" id="nextTime" value="Добавить время" class="btn btn-outline-secondary">

                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Inventory -->
<div class="modal fade" id="inventoryModal" tabindex="-1" aria-labelledby="inventoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inventoryModalLabel">Добавить инвентарь</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="profile-inventory">
                    <div class="mb-3">
                        <label for="name" class="form-label">Наименование:</label>
                        <input type="text" id="name" name="name" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Цена:</label>
                        <input type="number" id="price" name="price" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="type" class="form-label">Тип:</label>
                        <input type="text" id="type" name="type" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="size" class="form-label">Размер:</label>
                        <input type="text" id="size" name="size" class="form-control" required>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="scheduleForCouch" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scheduleModalLabel">Расписание тренировок</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="scheduleDate">Выберите дату:</label>
                <input type="date" id="scheduleDate" class="form-control mb-3">
                <div id="couchesTraining">
                    <!-- Здесь будет динамически отображаться расписание -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exerciseModal" tabindex="-1" aria-labelledby="exerciseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exerciseModalLabel">Добавить упражнения</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="exerciseForm">
                    <div class="mb-3" id="exerciseInputs"></div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal for Stopwatch and Timer -->
<div class="modal fade" id="stopwatchTimerModal" tabindex="-1" aria-labelledby="stopwatchTimerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stopwatchTimerModalLabel">Секундомер и Таймер</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="stopwatch">
                    <h6>Секундомер</h6>
                    <div id="stopwatchDisplay">00:00:00</div>
                    <button class="btn btn-secondary" id="startStopwatch">Старт</button>
                    <button class="btn btn-secondary" id="stopStopwatch">Стоп</button>
                    <button class="btn btn-secondary" id="resetStopwatch">Сброс</button>
                </div>
                <hr>
                <div id="timer">
                    <h6>Таймер</h6>
                    <div id="timerDisplay">00:00:00</div>
                    <input type="number" id="timerMinutes" placeholder="Минуты">
                    <button class="btn btn-secondary" id="startTimer">Старт</button>
                    <button class="btn btn-secondary" id="stopTimer">Стоп</button>
                    <button class="btn btn-secondary" id="resetTimer">Сброс</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/couch.js"></script>
</body>
</html>
