<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Выберите организацию и вид спорта</h2>
                </div>
                <div class="card-body">
                    <h4 class="mb-3">Заполните данные для тренера</h4>
                    <div class="mb-3">
                        <label for="name" class="form-label">Имя:</label>
                        <input type="text" id="name" name="name" class="form-control" required>
                        <label for="experience">Опыт:</label>
                        <input type = "text" id="experience" name="experience" class="form-control" required>
                        <label for="photo" class="form-label">Фото:</label>
                        <input type="file" id="photo" name="photo" class="form-control" accept="image/*">

                    </div>

                    <div class="mb-3">
                        <label for="organisationType" class="form-label" >Выберите организацию:</label>
                        <select id="organisationType" class="form-select">
                            <option value="organisation" disabled selected hidden>Организация</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="sportType" class="form-label">Выберите спорт:</label>
                        <select id="sportType" class="form-select">
                            <option value="sport"  disabled selected hidden>Спорт</option>
                        </select>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-secondary" id="next" onclick="next()">Дальше</button>
                        <button type="submit" class="btn btn-secondary" id="skip" onclick="skip()">Пропустить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Подтверждение действия</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы не выбрали организация и спорт хотите ли продолжить?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick = "closeConfirmationModal()">Нет</button>
                <button type="button" class="btn btn-primary" onclick="skip()">Да</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/enterCouchForOrganisation.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>