<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports App</title>
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
<div class="container">
    <div id="main-screen">
        <button id="add-activity">Записаться на тренировку</button>
        <button id="choose-trainer">Выбор тренера</button>
        <button id="add-equipment">Добавить инвентарь</button>
        <button id="add-balance">Пополнить баланс</button>
    </div>

    <div id="bottom-nav">
        <button id="notesButton" class="icon btn">📝</button>
        <button id="profile" class="icon btn">👤</button>
        <button id="info" class="icon btn">🔎</button>
    </div>

    <div id=popup class="popup"></div>


    <div id="balance-modal" class="hidden">
        <div class="modal-content">
            <!--            <span class="close">&times</span>-->
            <h2>Пополнить баланс</h2>
            <label for="amount">Введите сумму:</label>
            <input type="number" id="amount" placeholder="Сумма">
            <button id="confirm-add-balance">Пополнить</button>
            <button id="back-to-main-balance">Назад</button>
        </div>
    </div>

    <div id="changeToCoach" class="hidden">
        <div class="dropdown">
            <label for="getAllCoaches">Мои тренера: </label>
            <!--            <select id="coachForUser" class="form-select">-->
            <!--                <option value="coachForUser" disabled selected hidden></option>-->
            <!--            </select>-->
            <div id="getAllCoaches"></div>
            <!--<button type="submit" class="btn btn-primary" id ="enterForCoach">Выбрать</button>-->
            <button type="submit" class="btn btn-secondary" id="change" onclick="change()">Добавить нового тренера
            </button>
        </div>
        <button id="back-to-main-coach">Назад</button>
    </div>

    <div id="recordForEquipment" class="hidden">
        <div class="dropdown">
            <label for="coachForInventory">Выберите тренера:</label>
            <select id="coachForInventory" class="form-select" style="width: 100%">
                <option value="couch" disabled selected hidden>Тренер</option>
            </select>

            <div id="getAllEquipments" class="form-select" style="display: none; background-color: azure">
                <div style="color: black">Выбрать инвентарь:</div>
                <div id="equipmentList"></div>
            </div>
        </div>
        <button id="back-to-main-equipment">Назад</button>
    </div>


    <div id="recordForSection" class="hidden">
        <h1>Запись на тренеровку</h1>
        <div class="dropdown">
            <label for="sports-section">Выберите секцию:</label>
            <select id="sports-section" class="form-select" onchange="getSchedule()">
                <option value="" disabled selected hidden>Спорт</option>
            </select>
        </div>

        <div class="dropdown">
            <label for="coach">Выберите тренера:</label>
            <select id="coach" class="form-select" onchange="getSchedule()">
                <option value="" disabled selected hidden>Тренер</option>
            </select>
        </div>

        <p>Выбрите тип тренировки</p>
        <input type="radio" id="allTraining" name="training_type" value="general" onchange="getSchedule()">
        <label for="allTraining">Общие тренировки</label><br>
        <input type="radio" id="oneTraining" name="training_type" value="individual" onchange="getSchedule()">
        <label for="oneTraining">Индивидуальные тренировки</label><br>

        <div id="tariffs-container" class="hidden">

        </div>

        <div id="calendar-container">
            <label for="month">Выберите месяц:</label>
            <select id="month" onchange="getSchedule()">
                <option value="0">Январь</option>
                <option value="1">Февраль</option>
                <option value="2">Март</option>
                <option value="3">Апрель</option>
                <option value="4">Май</option>
                <option value="5">Июнь</option>
                <option value="6">Июль</option>
                <option value="7">Август</option>
                <option value="8">Сентябрь</option>
                <option value="9">Октябрь</option>
                <option value="10">Ноябрь</option>
                <option value="11">Декабрь</option>
            </select>
        </div>

        <div class="calendar" id="calendar"></div>

        <div id="allTime" class="hidden">
            <div id="times-record"></div>
        </div>

        <button id="back-to-main-record">Назад</button>
    </div>


    <div id="profile-screen" class="hidden">
        <h1>Профиль</h1>
        <form id="profile-form">
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login">
            <p id="newLogin" style="display:none; color:red">Такой никнейм уже занят</p>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" placeholder="введите обновленный пароль">
            <label for="firstName">Имя:</label>
            <input type="text" id="firstName" name="firstName">
            <label for="lastName">Фамилия:</label>
            <input type="text" id="lastName" name="lastName">
            <label for="height">Рост:</label>
            <input type="number" id="height" name="height">
            <label for="weight">Вес:</label>
            <input type="number" id="weight" name="weight">
            <button type="submit" style="inline-size: revert">Сохранить</button>

        </form>
        <button id="back-to-main-profile" style="inline-size: revert">Назад</button>
    </div>

    <div id="info-screen" class="hidden">
        <h1>Информация</h1>
        <p id="profile-info">Ваши данные: <span></span></p>
        <p id="balance-info">Баланс: <span></span></p>
        <h4 id="trainer-info">Данные о тренере: <span></span></h4>
        <h4 id="equipment-info">Общее количество инвентаря: <span></span></h4>
        <p id="trainer-rest">Осталось тренировок: <span></span></p>
        <div id="trainings-container" class="trainings-container">
            <button id="trainings-toggle" class="trainings-btn">Статистика тренировок: <span id="trainings-count"></span> <span id="trainings-arrow">⬇</span></button>
            <div id="trainings-details" style="display: none;"></div>
        </div>
        
        <div id="past-trainings-container" class="trainings-container">
            <button id="past-trainings-toggle" class="trainings-btn">Прошедшие тренировки: <span id="past-trainings-count"></span> <span id="past-trainings-arrow">⬇</span></button>
            <div id="past-trainings-details" style="display: none;"></div>
        </div>
        <div id="trainings-overlay" class="modal-overlay" style="display:none"></div>
        <div id="trainings-modal" class="modal-card" style="display:none"></div>
        <button type="submit" class="btn btn-secondary" id="notification">Подключить уведомления</button>
        <button type="submit" class="btn btn-danger mt-3" id="exit" onclick="exit()">Выход</button>
        <button id="back-to-main-info">Назад</button>
    </div>

    <div id="notes-screen" class="hidden">
        <!-- Modal for Stopwatch and Timer -->
        <div class="modal fade" id="notesModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <h1>Заметки</h1>
                        <div id="notes-section">
                            <textarea id="notes" placeholder="Заметки..."></textarea>
                            <button id="save-notes">Сохранить заметки</button>
                        </div>

                        <button id="show-notes">Показать все заметки</button>
                        <button id="hide-notes" style="display: none;">Свернуть заметки</button>
                        <div id="all-notes" class="mt-3"></div>

                        <button id="back-to-main-notes">Назад</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/user.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
</body>
</html>
